﻿body {

    margin: auto;
    font-family: $font;
    color: $black;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 110px;
}

@media screen and (max-width: 860px){
    body {
        padding-top: 90px;
    }
    
}

a{
    text-decoration:none;
    color:inherit!important;
}


.separator {
    background-color: $pink;
    
    height: 2px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}


.form-group {
    margin: auto;

    input {
        outline: none;
        color: black !important;
        font-size: 20px;
        width: 100%;

        &:hover {
            background-color: inherit !important;
        }
    }

    .checkbox {
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 20px !important;
            height: 20px;
            background-color: white;
            position: relative;
            top: 8px;
            border: 2px solid $pink;
            border-radius: 20px;
            cursor : pointer;
            &:after {
                content: "";
                background-color: #ff5e5e;
                display: block;
                position: relative;
                border-radius: 20px;
                width: 0px;
                height: 0px;
                margin: 0 auto;
                top: 50%;
                transform: translateY(-50%);
                transition:0.2s;
            }

            &:checked {
                &:after {
                    content: "";
                    background-color: $pink;
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: relative;
                }

                &:hover {
                    background-color: $pink;
                }
            }
        }
    }
}



.body-content {
    padding-left: 0px;
    padding-right: 0px;
    
}

.button-custom {
    border-radius: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: auto;
    font-size: 18px;

    &.pink {
        background-color: $pink;
        border: 2px solid $pink;
        color: $white;
        transition: 0.5s;

        &:hover {
            background-color: $white;
            color: $pink;
            transition: 0.5s;
            border: 2px solid $pink;
        }
    }

    &.btempty {
        border: 2px solid $pink;
        color: $pink;
        transition: 0.5s;

        &:hover {
            background-color: $pink;
            color: $white;
            transition: 0.5s;
            border: 2px solid $pink;
        }
    }
}