﻿@mixin background-sizing($imgpath, $position: 0 0, $repeat: no-repeat) {
    @if file_exists($imgpath) {
        background: generated-image-url($imgpath) $position $repeat;
        width: image-width($imgpath);
        height: image-height($imgpath);
    }
}

@mixin box-shadow($first, $second, $third, $fourth, $color) {
    -moz-box-shadow: $first $second $third $fourth $color;
    -webkit-box-shadow: $first $second $third $fourth $color;
    -o-box-shadow: $first $second $third $fourth $color;
    box-shadow: $first $second $third $fourth $color;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

// @mixin no-select {
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }
