﻿@font-face {
  font-family: 'koliko-Bold';
  src: url("font/koliko-Bold.eot?#iefix") format("embedded-opentype"), url("font/koliko-Bold.woff") format("woff"), url("font/koliko-Bold.ttf") format("truetype"), url("font/koliko-Bold.svg#koliko-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'koliko-Regular';
  src: url("font/koliko-Regular.eot?#iefix") format("embedded-opentype"), url("font/koliko-Regular.woff") format("woff"), url("font/koliko-Regular.ttf") format("truetype"), url("font/koliko-Regular.svg#koliko-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Kurale-Regular';
  src: url("font/Kurale-Regular.eot?#iefix") format("embedded-opentype"), url("font/Kurale-Regular.woff") format("woff"), url("font/Kurale-Regular.ttf") format("truetype"), url("font/Kurale-Regular.svg#Kurale-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/
/*
CONTENTS: 
	1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited). 
	2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar. 
	3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
	4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars. 
	5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars. 
	6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS 
		6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/
/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  /* direct pointer events to js */ }

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr; }

.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto; }

/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_inside > .mCSB_container {
  margin-right: 30px; }

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0; }

/* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0; }

/* RTL direction/left-side scrollbar */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0; }

.mCSB_outside + .mCSB_scrollTools {
  right: -26px; }

/* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0; }

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px; }

/* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px; }

.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */ }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */ }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0; }

/* 
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR 
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 30px; }

.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%; }

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0; }

/* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 16px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0; }

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px; }

/* scrollbar position: outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 20px; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  /* minimum dragger width */
  height: 100%;
  left: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto; }

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 12px;
  /* auto-expanded scrollbar */
  margin: 2px auto; }

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 8px;
  /* auto-expanded scrollbar */
  margin: 4px 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0; }

/* 
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS 
yx-axis 
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px; }

.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px; }

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px; }

/* non-visible horizontal scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0; }

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0; }

/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px; }

/* non-visible scrollbar/RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px; }

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0; }

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0; }

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0; }

/* non-visible horizontal scrollbar */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0; }

/* 
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS  
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out; }

/* 
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/
/* 
	----------------------------------------
	6.1 THEMES 
	----------------------------------------
	*/
/* default theme ("light") */
.mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)"; }

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: "alpha(opacity=0)";
  -ms-filter: "alpha(opacity=0)"; }

.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)"; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)"; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)"; }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)"; }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  /* css sprites */
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)"; }

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /* 
		sprites locations 
		light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
		dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px
		*/ }

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /* 
		sprites locations
		light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
		dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px
		*/ }

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /* 
		sprites locations 
		light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
		dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px
		*/ }

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /* 
		sprites locations 
		light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
		dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px
		*/ }

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)"; }

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)"; }

/* theme: "dark" */
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0; }

.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px; }

.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px; }

.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px; }

/* ---------------------------------------- */
/* theme: "light-2", "dark-2" */
.mCS-light-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto; }

.mCS-light-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85); }

.mCS-light-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9); }

.mCS-light-2.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px 0; }

.mCS-light-2.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -20px; }

.mCS-light-2.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -40px; }

.mCS-light-2.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -56px; }

/* theme: "dark-2" */
.mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-dark-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-dark-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px 0; }

.mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -20px; }

.mCS-dark-2.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -40px; }

.mCS-dark-2.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -56px; }

/* ---------------------------------------- */
/* theme: "light-thick", "dark-thick" */
.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0; }

.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto; }

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85); }

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9); }

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -16px 0; }

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -16px -20px; }

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -20px -40px; }

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -20px -56px; }

/* theme: "dark-thick" */
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px 0; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -20px; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -40px; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -56px; }

/* ---------------------------------------- */
/* theme: "light-thin", "dark-thin" */
.mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1); }

.mCS-light-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px; }

.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%; }

.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto; }

/* theme "dark-thin" */
.mCS-dark-thin.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15); }

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0; }

.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px; }

.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px; }

.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px; }

/* ---------------------------------------- */
/* theme "rounded", "rounded-dark", "rounded-dots", "rounded-dots-dark" */
.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.15); }

.mCS-rounded.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger {
  height: 14px; }

.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 14px;
  margin: 0 1px; }

.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 14px; }

.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 14px;
  margin: 1px 0; }

.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 16px;
  /* auto-expanded scrollbar */
  height: 16px;
  margin: -1px 0; }

.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 4px;
  /* auto-expanded scrollbar */ }

.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 16px;
  /* auto-expanded scrollbar */
  width: 16px;
  margin: 0 -1px; }

.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 4px;
  /* auto-expanded scrollbar */
  margin: 6px 0; }

.mCS-rounded.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 -72px; }

.mCS-rounded.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -92px; }

.mCS-rounded.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -112px; }

.mCS-rounded.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -128px; }

/* theme "rounded-dark", "rounded-dots-dark" */
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15); }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px -72px; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -92px; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -112px; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -128px; }

/* theme "rounded-dots", "rounded-dots-dark" */
.mCS-rounded-dots.mCSB_scrollTools_vertical .mCSB_draggerRail,
.mCS-rounded-dots-dark.mCSB_scrollTools_vertical .mCSB_draggerRail {
  width: 4px; }

.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  background-color: transparent;
  background-position: center; }

.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQYV2NkIAAYiVbw//9/Y6DiM1ANJoyMjGdBbLgJQAX/kU0DKgDLkaQAvxW4HEvQFwCRcxIJK1XznAAAAABJRU5ErkJggg==");
  background-repeat: repeat-y;
  opacity: 0.3;
  filter: "alpha(opacity=30)";
  -ms-filter: "alpha(opacity=30)"; }

.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  height: 4px;
  margin: 6px 0;
  background-repeat: repeat-x; }

.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -16px -72px; }

.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -16px -92px; }

.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -20px -112px; }

.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -20px -128px; }

/* theme "rounded-dots-dark" */
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYV2NkIAAYSVFgDFR8BqrBBEifBbGRTfiPZhpYjiQFBK3A6l6CvgAAE9kGCd1mvgEAAAAASUVORK5CYII="); }

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px -72px; }

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -92px; }

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -112px; }

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -128px; }

/* ---------------------------------------- */
/* theme "3d", "3d-dark", "3d-thick", "3d-thick-dark" */
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-repeat: repeat-y;
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); }

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); }

/* theme "3d", "3d-dark" */
.mCS-3d.mCSB_scrollTools_vertical .mCSB_dragger,
.mCS-3d-dark.mCSB_scrollTools_vertical .mCSB_dragger {
  height: 70px; }

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 70px; }

.mCS-3d.mCSB_scrollTools,
.mCS-3d-dark.mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=30)";
  -ms-filter: "alpha(opacity=30)"; }

.mCS-3d.mCSB_scrollTools .mCSB_draggerRail,
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px; }

.mCS-3d.mCSB_scrollTools .mCSB_draggerRail,
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.5), inset -1px 0 1px rgba(255, 255, 255, 0.2); }

.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #555; }

.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px; }

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 8px;
  margin: 4px 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.2); }

.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 8px;
  margin: 4px auto; }

.mCS-3d.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px; }

.mCS-3d.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px; }

.mCS-3d.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px; }

.mCS-3d.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px; }

/* theme "3d-dark" */
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1); }

.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px; }

.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px; }

.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px; }

.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px; }

/* ---------------------------------------- */
/* theme: "3d-thick", "3d-thick-dark" */
.mCS-3d-thick.mCSB_scrollTools,
.mCS-3d-thick-dark.mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=30)";
  -ms-filter: "alpha(opacity=30)"; }

.mCS-3d-thick.mCSB_scrollTools,
.mCS-3d-thick-dark.mCSB_scrollTools,
.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }

.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.mCSB_inside + .mCS-3d-thick.mCSB_scrollTools_vertical,
.mCSB_inside + .mCS-3d-thick-dark.mCSB_scrollTools_vertical {
  right: 1px; }

.mCS-3d-thick.mCSB_scrollTools_vertical,
.mCS-3d-thick-dark.mCSB_scrollTools_vertical {
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5); }

.mCS-3d-thick.mCSB_scrollTools_horizontal,
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal {
  bottom: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5); }

.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
  width: 12px;
  margin: 2px;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4); }

.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #555; }

.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 12px;
  width: auto; }

.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1); }

.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px; }

.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px; }

.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px; }

.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px; }

/* theme: "3d-thick-dark" */
.mCS-3d-thick-dark.mCSB_scrollTools {
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2); }

.mCS-3d-thick-dark.mCSB_scrollTools_horizontal {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.2); }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(0, 0, 0, 0.2); }

.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.2); }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #777; }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1); }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px; }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px; }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px; }

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px; }

/* ---------------------------------------- */
/* theme: "minimal", "minimal-dark" */
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  right: 0;
  margin: 12px 0; }

.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: 0;
  margin: 0 12px; }

/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCS-dir-rtl > .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  left: 0;
  right: auto; }

.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger,
.mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger {
  height: 50px; }

.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 50px; }

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  filter: "alpha(opacity=20)";
  -ms-filter: "alpha(opacity=20)"; }

.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)"; }

/* theme: "minimal-dark" */
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  filter: "alpha(opacity=20)";
  -ms-filter: "alpha(opacity=20)"; }

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)"; }

/* ---------------------------------------- */
/* theme "light-3", "dark-3" */
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2); }

.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px; }

.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 6px;
  margin: 5px 0; }

.mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 12px; }

.mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 12px;
  margin: 2px 0; }

.mCS-light-3.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px; }

.mCS-light-3.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px; }

.mCS-light-3.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px; }

.mCS-light-3.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px; }

/* theme "dark-3" */
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1); }

.mCS-dark-3.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px; }

.mCS-dark-3.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px; }

.mCS-dark-3.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px; }

.mCS-dark-3.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px; }

/* ---------------------------------------- */
/* theme "inset", "inset-dark", "inset-2", "inset-2-dark", "inset-3", "inset-3-dark" */
.mCS-inset.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2); }

.mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  margin: 3px 5px;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 6px;
  margin: 5px 3px;
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.mCS-inset.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 12px;
  margin: 2px 0; }

.mCS-inset.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px; }

.mCS-inset.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px; }

.mCS-inset.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px; }

.mCS-inset.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px; }

/* theme "inset-dark", "inset-2-dark", "inset-3-dark" */
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1); }

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px; }

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px; }

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px; }

.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px; }

/* theme "inset-2", "inset-2-dark" */
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  border-color: #000;
  border-color: rgba(0, 0, 0, 0.2); }

/* theme "inset-3", "inset-3-dark" */
.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6); }

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6); }

.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75); }

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85); }

.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9); }

/* ---------------------------------------- */
body {
  margin: auto;
  font-family: "Kurale-Regular";
  color: #000;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 110px; }

@media screen and (max-width: 860px) {
  body {
    padding-top: 90px; } }

a {
  text-decoration: none;
  color: inherit !important; }

.separator {
  background-color: #ff5e5e;
  height: 2px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px; }

.form-group {
  margin: auto; }
  .form-group input {
    outline: none;
    color: black !important;
    font-size: 20px;
    width: 100%; }
    .form-group input:hover {
      background-color: inherit !important; }
  .form-group .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px !important;
    height: 20px;
    background-color: white;
    position: relative;
    top: 8px;
    border: 2px solid #ff5e5e;
    border-radius: 20px;
    cursor: pointer; }
    .form-group .checkbox input:after {
      content: "";
      background-color: #ff5e5e;
      display: block;
      position: relative;
      border-radius: 20px;
      width: 0px;
      height: 0px;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s; }
    .form-group .checkbox input:checked:after {
      content: "";
      background-color: #ff5e5e;
      width: 10px;
      height: 10px;
      display: block;
      position: relative; }
    .form-group .checkbox input:checked:hover {
      background-color: #ff5e5e; }

.body-content {
  padding-left: 0px;
  padding-right: 0px; }

.button-custom {
  border-radius: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin: auto;
  font-size: 18px; }
  .button-custom.pink {
    background-color: #ff5e5e;
    border: 2px solid #ff5e5e;
    color: #FFF;
    transition: 0.5s; }
    .button-custom.pink:hover {
      background-color: #FFF;
      color: #ff5e5e;
      transition: 0.5s;
      border: 2px solid #ff5e5e; }
  .button-custom.btempty {
    border: 2px solid #ff5e5e;
    color: #ff5e5e;
    transition: 0.5s; }
    .button-custom.btempty:hover {
      background-color: #ff5e5e;
      color: #FFF;
      transition: 0.5s;
      border: 2px solid #ff5e5e; }

#headers {
  box-shadow: 5px -27px 73px black;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0; }
  #headers .container {
    height: 110px; }
    #headers .container .logo-main {
      background-image: url("images/commun/logo.png");
      width: 90px;
      height: 90px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 10px; }
      #headers .container .logo-main a {
        display: block;
        height: 100%;
        width: 100%; }
    #headers .container .menu-main {
      position: absolute;
      right: 40px;
      top: 30px; }
      #headers .container .menu-main ul {
        display: inline-block;
        vertical-align: middle; }
        #headers .container .menu-main ul li {
          display: inline-block;
          margin-left: 40px;
          font-size: 20px;
          cursor: pointer; }
          #headers .container .menu-main ul li .li-seco {
            border-bottom: 2px solid #ff5e5e; }
        #headers .container .menu-main ul #name-user-co {
          position: relative;
          border-bottom: 2px solid #ff5e5e;
          padding-left: 10px;
          padding-right: 10px;
          transition: 0.1s; }
          #headers .container .menu-main ul #name-user-co.active {
            border-bottom: 0px solid #ff5e5e; }
          #headers .container .menu-main ul #name-user-co .down-menu {
            position: absolute;
            height: 0;
            left: 0;
            top: 32px;
            padding-left: 0;
            background-color: #FFF;
            border-left: 2px solid #ff5e5e;
            border-right: 2px solid #ff5e5e;
            transition: 0.5s;
            overflow: hidden; }
            #headers .container .menu-main ul #name-user-co .down-menu.active {
              height: 110px;
              border-bottom: 2px solid #ff5e5e; }
            #headers .container .menu-main ul #name-user-co .down-menu li {
              text-align: center;
              margin-left: 0;
              width: 100%;
              margin-bottom: 10px;
              margin-top: 10px; }
              #headers .container .menu-main ul #name-user-co .down-menu li a {
                display: block; }
      #headers .container .menu-main .panier {
        cursor: pointer;
        display: inline-block;
        margin-left: 30px;
        vertical-align: middle;
        background-image: url("images/commun/panier.png");
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat; }
        #headers .container .menu-main .panier .compteur {
          width: 22px;
          border: 2px solid #ff5e5e;
          border-radius: 90px;
          height: 22px;
          line-height: 23px;
          font-size: 14px;
          text-align: center;
          position: absolute;
          top: -12px;
          right: -20px; }
    #headers .container .menu-mobile {
      display: none;
      position: absolute;
      right: 40px;
      top: 35px;
      height: 40px;
      width: 50px;
      cursor: pointer; }
      #headers .container .menu-mobile .hamburger {
        background-color: #ff5e5e;
        height: 3px;
        margin-bottom: 10px;
        position: absolute;
        right: 0;
        transition: 0.5s; }
        #headers .container .menu-mobile .hamburger.one {
          width: 50px; }
        #headers .container .menu-mobile .hamburger.two {
          width: 35px;
          bottom: 17px; }
        #headers .container .menu-mobile .hamburger.three {
          width: 20px;
          bottom: 6px; }
      #headers .container .menu-mobile.active .hamburger.one {
        width: 20px; }
      #headers .container .menu-mobile.active .hamburger.two {
        width: 35px; }
      #headers .container .menu-mobile.active .hamburger.three {
        width: 50px; }
    #headers .container .view-panier {
      width: 360px;
      background-color: white;
      position: absolute;
      top: 109px;
      transition: 0.5s;
      right: -410px;
      max-height: 100vh;
      padding-bottom: 50px; }
      #headers .container .view-panier .title {
        text-align: center;
        width: 90%;
        line-height: 24px;
        margin: auto;
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 15px; }
      #headers .container .view-panier .block-myforfait {
        margin-top: 40px;
        text-align: center; }
        #headers .container .view-panier .block-myforfait .myforfait {
          width: 360px;
          display: inline-block;
          vertical-align: top; }
          #headers .container .view-panier .block-myforfait .myforfait .vignette {
            transition: 0.5s;
            border: 2px solid #ff5e5e;
            border-radius: 150px;
            width: 100px;
            height: 100px;
            margin: auto;
            cursor: pointer; }
            #headers .container .view-panier .block-myforfait .myforfait .vignette .picto-vign {
              width: 40px;
              height: 40px;
              background-repeat: no-repeat;
              background-size: contain;
              margin: auto;
              position: relative;
              top: 50%;
              transform: translateY(-50%); }
              #headers .container .view-panier .block-myforfait .myforfait .vignette .picto-vign.free {
                background-image: url("images/commun/feuille-noire.png");
                width: 40px;
                height: 40px; }
              #headers .container .view-panier .block-myforfait .myforfait .vignette .picto-vign.premium {
                background-image: url("images/commun/diamant-noir.jpg"); }
          #headers .container .view-panier .block-myforfait .myforfait .title {
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: 15px; }
          #headers .container .view-panier .block-myforfait .myforfait.active .vignette {
            transition: 0.5s;
            background-color: #ff5e5e; }
        #headers .container .view-panier .block-myforfait .separator {
          background-color: #ff5e5e;
          width: 50%;
          height: 2px;
          margin: auto;
          margin-bottom: 25px;
          margin-top: 15px; }
      #headers .container .view-panier .block-modules .modules {
        width: 90%;
        height: 40px;
        padding-top: 10px;
        margin: auto;
        margin-bottom: 15px;
        border: 2px solid #ff5e5e;
        border-radius: 12px;
        position: relative; }
        #headers .container .view-panier .block-modules .modules .picto-mod {
          display: inline-block;
          vertical-align: middle;
          background-image: url("images/commun/panier.png");
          width: 30px;
          height: 30px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: 10px; }
        #headers .container .view-panier .block-modules .modules .libele {
          margin-left: 20px;
          font-size: 20px;
          display: inline-block;
          vertical-align: middle; }
        #headers .container .view-panier .block-modules .modules .bt-ajoutmod {
          width: 110px;
          height: 30px;
          line-height: 28px;
          position: absolute;
          right: 10px;
          top: 8px;
          display: inline-block;
          vertical-align: middle; }
      #headers .container .view-panier .bt-viewcompte {
        margin-top: 40px;
        margin-bottom: 140px;
        width: 150px; }
      #headers .container .view-panier.active {
        right: 0; }

@media screen and (max-width: 860px) {
  #headers .container {
    height: 90px; }
    #headers .container .logo-main {
      width: 70px;
      height: 70px; }
    #headers .container .menu-main {
      height: 0px;
      overflow: hidden;
      background-color: white;
      z-index: 50;
      width: 100%;
      top: 90px;
      transition: 0.5s;
      right: 0; }
      #headers .container .menu-main ul {
        width: 60%; }
        #headers .container .menu-main ul li {
          display: block;
          margin-bottom: 30px;
          font-size: 30px; }
          #headers .container .menu-main ul li:after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #ff5e5e;
            display: block;
            margin-top: 5px; }
      #headers .container .menu-main .panier {
        display: none; }
      #headers .container .menu-main.active {
        transition: 0.5s;
        height: 420px;
        padding-top: 60px; }
    #headers .container .menu-mobile {
      display: block; } }

footer {
  background-color: rgba(255, 245, 246, 0.5);
  height: 150px;
  padding-top: 10px;
  position: relative; }
  footer #footer .container .menu-footer {
    padding-left: 0;
    text-align: center;
    margin-top: 30px; }
    footer #footer .container .menu-footer li {
      list-style-type: none;
      display: inline-block;
      margin-left: 30px;
      font-size: 17px; }
  footer #footer .container .block-store {
    text-align: center; }
    footer #footer .container .block-store .icone {
      width: 125px;
      height: 35px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle; }
      footer #footer .container .block-store .icone.icone-ios {
        background-image: url("images/commun/appstore.png"); }
      footer #footer .container .block-store .icone.icone-android {
        background-image: url("images/commun/playstore.png"); }
  footer #footer .container .copyright {
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0; }

#scene-home {
  display: block; }
  #scene-home .big-block-one {
    background-color: rgba(255, 245, 246, 0.5);
    width: 100%;
    padding-top: 50px; }
    #scene-home .big-block-one .block-text {
      text-align: center; }
      #scene-home .big-block-one .block-text .title {
        font-size: 55px; }
      #scene-home .big-block-one .block-text .subtitle {
        font-size: 23px; }
  #scene-home .block-smartphone {
    text-align: center;
    width: 450px;
    height: 380px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    overflow: hidden; }
    #scene-home .block-smartphone .phone {
      width: 280px;
      height: 550px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      bottom: -570px;
      transition: 1s; }
      #scene-home .block-smartphone .phone.one {
        background-image: url("images/home/heroandroid.png");
        left: 0px; }
      #scene-home .block-smartphone .phone.two {
        background-image: url("images/home/heroios.png");
        right: -70px; }
      #scene-home .block-smartphone .phone.active {
        bottom: -200px;
        transition: 1s; }
  #scene-home .block-offres {
    box-shadow: 5px 1px 29px lightgrey;
    text-align: center;
    background-color: #FFF;
    position: relative;
    z-index: 5;
    height: 250px;
    padding-top: 20px; }
    #scene-home .block-offres .title {
      font-size: 39px;
      margin-bottom: 15px; }
    #scene-home .block-offres .text {
      font-size: 21px;
      margin-bottom: 25px; }
    #scene-home .block-offres .bt-offres {
      width: 220px; }
  #scene-home .block-iphonered {
    text-align: center;
    overflow: hidden; }
    #scene-home .block-iphonered .block-text {
      width: 300px;
      display: inline-block;
      vertical-align: middle; }
      #scene-home .block-iphonered .block-text .title {
        font-size: 37px;
        margin-bottom: 8px; }
      #scene-home .block-iphonered .block-text .text {
        font-size: 20px; }
    #scene-home .block-iphonered .picture-iphone {
      width: 440px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      height: 320px; }
      #scene-home .block-iphonered .picture-iphone .picture {
        position: absolute;
        width: 100%;
        height: 320px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transition: 1s; }
    #scene-home .block-iphonered.one {
      margin-top: 40px; }
      #scene-home .block-iphonered.one .block-text {
        margin-right: 5%; }
      #scene-home .block-iphonered.one .picture-iphone .picture {
        right: -990px;
        background-image: url("images/home/iphonered.png"); }
        #scene-home .block-iphonered.one .picture-iphone .picture.active {
          transition: 1s;
          right: 0; }
    #scene-home .block-iphonered.two .block-text {
      margin-left: 5%; }
    #scene-home .block-iphonered.two .picture-iphone .picture {
      left: -990px;
      background-image: url("images/home/iphonered2.png"); }
      #scene-home .block-iphonered.two .picture-iphone .picture.active {
        transition: 1s;
        left: 0; }
  #scene-home .block-plusencore .separator {
    background-color: #ff5e5e;
    width: 480px;
    height: 2px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px; }
  #scene-home .block-plusencore .bt-plusencore {
    width: 220px; }
  #scene-home .block-follow {
    width: 100%;
    height: 240px;
    margin-top: 50px;
    background-image: url("images/home/bg-social.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    padding-top: 30px; }
    #scene-home .block-follow .title {
      color: #FFF;
      font-size: 65px;
      text-align: center; }
    #scene-home .block-follow .block-social {
      text-align: center;
      margin-top: 20px; }
      #scene-home .block-follow .block-social .picto {
        width: 55px;
        height: 55px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.5s; }
        #scene-home .block-follow .block-social .picto:hover {
          transition: 0.5s;
          transform: scale(1.2); }
        #scene-home .block-follow .block-social .picto.picto-fb {
          background-image: url("images/home/fb_picto.png"); }
        #scene-home .block-follow .block-social .picto.picto-tw {
          background-image: url("images/home/tw_picto.png");
          margin-left: 45px;
          margin-right: 45px; }
        #scene-home .block-follow .block-social .picto.picto-in {
          background-image: url("images/home/in_picto.png"); }

#scene-offres {
  display: block; }
  #scene-offres .container .block-title {
    margin-top: 40px;
    text-align: center; }
    #scene-offres .container .block-title .title {
      font-size: 55px; }
    #scene-offres .container .block-title .subtitle {
      font-size: 25px;
      margin-top: 20px; }
  #scene-offres .container .block-forfait {
    margin-top: 70px;
    text-align: center; }
    #scene-offres .container .block-forfait .forfait {
      width: 360px;
      display: inline-block;
      vertical-align: top; }
      #scene-offres .container .block-forfait .forfait .vignette {
        transition: 0.5s;
        border: 2px solid #ff5e5e;
        border-radius: 150px;
        width: 150px;
        height: 150px;
        margin: auto;
        cursor: pointer; }
        #scene-offres .container .block-forfait .forfait .vignette .picto-vign {
          width: 80px;
          height: 80px;
          background-repeat: no-repeat;
          background-size: contain;
          margin: auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          #scene-offres .container .block-forfait .forfait .vignette .picto-vign.free {
            background-image: url("images/offres/feuille-noire.png");
            width: 60px;
            height: 60px; }
          #scene-offres .container .block-forfait .forfait .vignette .picto-vign.premium {
            background-image: url("images/offres/diamant-noir.jpg"); }
        #scene-offres .container .block-forfait .forfait .vignette.active {
          transition: 0.5s;
          background-color: #ff5e5e; }
      #scene-offres .container .block-forfait .forfait .title {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 15px; }
      #scene-offres .container .block-forfait .forfait .text {
        width: 90%;
        margin: auto; }
    #scene-offres .container .block-forfait .separator {
      background-color: #ff5e5e;
      width: 330px;
      height: 2px;
      margin: auto;
      margin-bottom: 25px;
      margin-top: 55px; }
  #scene-offres .container .block-modules .title {
    margin-top: 50px;
    font-size: 35px;
    text-align: center; }
  #scene-offres .container .block-modules .subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px; }
  #scene-offres .container .block-modules .modules {
    width: 90%;
    height: 40px;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid #ff5e5e;
    border-radius: 12px;
    position: relative;
    transition: 0.5s; }
    #scene-offres .container .block-modules .modules .picto-mod {
      display: inline-block;
      vertical-align: middle;
      background-image: url("images/offres/panier.png");
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 10px; }
    #scene-offres .container .block-modules .modules .libele {
      margin-left: 20px;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle; }
    #scene-offres .container .block-modules .modules .price {
      margin-left: 20px;
      font-size: 17px;
      display: inline-block;
      vertical-align: middle; }
    #scene-offres .container .block-modules .modules .description {
      margin-left: 20px;
      font-size: 17px;
      display: inline-block;
      vertical-align: middle; }
    #scene-offres .container .block-modules .modules .bt-ajoutmod {
      width: 110px;
      height: 30px;
      line-height: 30px;
      position: absolute;
      right: 10px;
      top: 8px;
      display: inline-block;
      vertical-align: middle; }
    #scene-offres .container .block-modules .modules.blocked {
      background-color: rgba(0, 0, 0, 0.4);
      color: grey;
      pointer-events: none; }
      #scene-offres .container .block-modules .modules.blocked .bt-ajoutmod {
        display: none; }

#scene-nous {
  display: block; }
  #scene-nous .block-bkg {
    background-image: url("images/nous/bg-nous.jpg");
    width: 100%;
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%; }
    #scene-nous .block-bkg .big-title {
      color: white;
      font-size: 195px;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  #scene-nous .presentation {
    text-align: left;
    width: 775px;
    margin: auto;
    margin-top: 40px;
    line-height: 42px;
    font-size: 20px; }
  #scene-nous .block-avis {
    background-color: #FF4E50;
    padding-top: 40px;
    margin-top: 30px;
    height: 340px; }
    #scene-nous .block-avis .title {
      color: white;
      text-align: center;
      font-size: 40px; }
    #scene-nous .block-avis .part-avis {
      margin-top: 50px;
      text-align: center; }
      #scene-nous .block-avis .part-avis .avis {
        width: 330px;
        height: 160px;
        background-color: white;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle; }
        #scene-nous .block-avis .part-avis .avis.two {
          margin-left: 20px;
          margin-right: 20px; }
        #scene-nous .block-avis .part-avis .avis .text {
          margin-bottom: 0px;
          padding: 20px;
          font-size: 15px;
          text-align: center; }
        #scene-nous .block-avis .part-avis .avis .block-user {
          text-align: left;
          position: relative; }
          #scene-nous .block-avis .part-avis .avis .block-user .picto-user {
            width: 50px;
            height: 50px;
            display: inline-block;
            vertical-align: middle;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 20px;
            margin-right: 10px; }
            #scene-nous .block-avis .part-avis .avis .block-user .picto-user.marc {
              background-image: url("images/nous/marc.png"); }
            #scene-nous .block-avis .part-avis .avis .block-user .picto-user.sarah {
              background-image: url("images/nous/sarah.png"); }
            #scene-nous .block-avis .part-avis .avis .block-user .picto-user.nicolas {
              background-image: url("images/nous/nicolas.png"); }
          #scene-nous .block-avis .part-avis .avis .block-user .part-name {
            width: 150px;
            display: inline-block;
            vertical-align: middle; }
          #scene-nous .block-avis .part-avis .avis .block-user .picto-os {
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            position: absolute;
            right: 20px; }
            #scene-nous .block-avis .part-avis .avis .block-user .picto-os.apple {
              background-image: url("images/nous/apple-picto.png"); }
            #scene-nous .block-avis .part-avis .avis .block-user .picto-os.android {
              background-image: url("images/nous/android-picto.png"); }
  #scene-nous .block-rejoindre {
    height: 200px;
    padding-top: 45px;
    text-align: center; }
    #scene-nous .block-rejoindre .title {
      font-size: 30px;
      margin-bottom: 30px; }
    #scene-nous .block-rejoindre .bt-rejoindre {
      width: 220px; }

#scene-login .block-text {
  text-align: center;
  margin-top: 30px; }
  #scene-login .block-text .title {
    font-size: 65px; }
  #scene-login .block-text .subtitle {
    font-size: 23px; }

#scene-login .block-form-login {
  padding-bottom: 40px; }
  #scene-login .block-form-login #socialLoginForm {
    margin-top: 60px; }
    #scene-login .block-form-login #socialLoginForm h4, #scene-login .block-form-login #socialLoginForm hr {
      display: none; }
    #scene-login .block-form-login #socialLoginForm .separator {
      width: 110px; }
    #scene-login .block-form-login #socialLoginForm #socialLoginList {
      text-align: center; }
      #scene-login .block-form-login #socialLoginForm #socialLoginList #Google {
        width: 130px;
        height: 60px;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        font-size: 0;
        background-image: url("images/commun/google.png");
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        cursor: pointer; }
      #scene-login .block-form-login #socialLoginForm #socialLoginList #Microsoft {
        width: 155px;
        height: 60px;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        font-size: 0;
        background-image: url("images/commun/microsoft.png");
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        cursor: pointer;
        position: relative;
        top: -7px;
        margin-left: 25px; }
  #scene-login .block-form-login .cadre-login {
    text-align: center;
    border: 2px solid #ff5e5e;
    width: 530px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px; }
  #scene-login .block-form-login .block-login-inscription .separator {
    width: 130px;
    margin-top: 30px;
    margin-bottom: 20px; }
  #scene-login .block-form-login .block-login-inscription .title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px; }
  #scene-login .block-form-login .block-login-inscription .no-compte {
    width: 250px; }
  #scene-login .block-form-login .form-group {
    width: 450px;
    margin-bottom: 15px; }
  #scene-login .block-form-login .bt-connexion {
    width: 180px;
    height: 35px;
    line-height: 28px;
    color: white !important; }
    #scene-login .block-form-login .bt-connexion:hover {
      color: #ff5e5e !important; }

#scene-register .block-text {
  text-align: center;
  margin-top: 30px; }
  #scene-register .block-text .title {
    font-size: 65px; }
  #scene-register .block-text .subtitle {
    font-size: 23px; }

#scene-register .block-form-register {
  padding-bottom: 40px; }
  #scene-register .block-form-register .cadre-login {
    text-align: center;
    border: 2px solid #ff5e5e;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px; }
  #scene-register .block-form-register .block-login-inscription .separator {
    width: 130px;
    margin-top: 30px;
    margin-bottom: 20px; }
  #scene-register .block-form-register .block-login-inscription .title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px; }
  #scene-register .block-form-register .block-login-inscription .no-compte {
    width: 250px;
    text-align: center; }
  #scene-register .block-form-register .form-group {
    width: 90%;
    margin-bottom: 15px; }
    #scene-register .block-form-register .form-group input {
      text-align: left;
      padding-left: 30px; }
  #scene-register .block-form-register .bt-inscription {
    width: 180px;
    height: 35px;
    line-height: 28px;
    color: white !important;
    text-align: center !important;
    padding-left: 0 !important;
    background-color: #ff5e5e; }
    #scene-register .block-form-register .bt-inscription:hover {
      color: #ff5e5e !important; }

#scene-engagements {
  display: block; }
  #scene-engagements .container .big-block-ancre {
    height: 350px;
    background-image: url("images/engagements/bg-enga.png");
    background-repeat: no-repeat;
    background-size: cover; }
    #scene-engagements .container .big-block-ancre .block-ancre {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      #scene-engagements .container .big-block-ancre .block-ancre .ancre {
        width: 110px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.5s; }
        #scene-engagements .container .big-block-ancre .block-ancre .ancre:hover {
          transform: scale(1.2);
          transition: 0.5s; }
        #scene-engagements .container .big-block-ancre .block-ancre .ancre.secu .picture {
          background-image: url("images/engagements/protection.png"); }
        #scene-engagements .container .big-block-ancre .block-ancre .ancre.unique {
          margin-left: 30px;
          margin-right: 30px; }
          #scene-engagements .container .big-block-ancre .block-ancre .ancre.unique .picture {
            background-image: url("images/engagements/unique.png"); }
        #scene-engagements .container .big-block-ancre .block-ancre .ancre.sav .picture {
          background-image: url("images/engagements/sav.png"); }
        #scene-engagements .container .big-block-ancre .block-ancre .ancre .picture {
          width: 60px;
          height: 60px;
          background-repeat: no-repeat;
          background-size: contain;
          margin: auto; }
        #scene-engagements .container .big-block-ancre .block-ancre .ancre .title {
          font-size: 16px;
          margin-top: 12px; }
  #scene-engagements .container .part {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 90%;
    margin: auto; }
    #scene-engagements .container .part .title {
      font-size: 25px; }
    #scene-engagements .container .part .text {
      MARGIN-TOP: 10px; }
    #scene-engagements .container .part.pink {
      background-color: rgba(255, 245, 246, 0.5); }

.admin-panel {
  display: block; }
  .admin-panel .container {
    font-size: 0; }
    .admin-panel .container .admin-bar {
      width: 210px;
      height: 100vh;
      display: inline-block;
      vertical-align: top;
      background-color: rgba(0, 0, 0, 0.5);
      color: #FFF; }
      .admin-panel .container .admin-bar .block-user-info {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #FFF; }
        .admin-panel .container .admin-bar .block-user-info .bulle-icone {
          width: 70px;
          height: 70px;
          display: block;
          margin: auto; }
          .admin-panel .container .admin-bar .block-user-info .bulle-icone .icone {
            width: 50px;
            height: 50px;
            background-image: url("images/commun/logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: auto; }
        .admin-panel .container .admin-bar .block-user-info .block-info {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          width: 100%; }
          .admin-panel .container .admin-bar .block-user-info .block-info .name {
            font-size: 16px; }
          .admin-panel .container .admin-bar .block-user-info .block-info .email {
            font-size: 16px; }
      .admin-panel .container .admin-bar .admin-part {
        border-bottom: 2px solid #FFF;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
        padding-left: 8px;
        position: relative; }
        .admin-panel .container .admin-bar .admin-part .title {
          font-size: 19px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px; }
        .admin-panel .container .admin-bar .admin-part .arrow {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background-image: url("images/admin/arrow.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          right: 10px;
          top: 21px; }
        .admin-panel .container .admin-bar .admin-part .picture {
          width: 30px;
          height: 30px;
          display: inline-block;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-size: contain; }
        .admin-panel .container .admin-bar .admin-part.block-offres .picture {
          background-image: url("images/admin/panier_white.png"); }
        .admin-panel .container .admin-bar .admin-part.block-changemdp .picture {
          background-image: url("images/admin/gear.png"); }
        .admin-panel .container .admin-bar .admin-part.block-facture .picture {
          background-image: url("images/admin/file.png"); }
        .admin-panel .container .admin-bar .admin-part.block-addproduct .picture {
          background-image: url("images/admin/plus.png"); }
        .admin-panel .container .admin-bar .admin-part.block-allfacture .picture {
          background-image: url("images/admin/list-fact.png"); }
    .admin-panel .container .content {
      width: calc(100% - 230px);
      height: 443px;
      display: inline-block;
      vertical-align: top; }
      .admin-panel .container .content.mon-offres .block-forfait {
        margin-top: 70px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 38%;
        position: relative; }
        .admin-panel .container .content.mon-offres .block-forfait .forfait {
          width: 360px;
          display: inline-block;
          vertical-align: top; }
          .admin-panel .container .content.mon-offres .block-forfait .forfait .vignette {
            transition: 0.5s;
            border: 2px solid #ff5e5e;
            border-radius: 150px;
            width: 150px;
            height: 150px;
            margin: auto;
            cursor: pointer; }
            .admin-panel .container .content.mon-offres .block-forfait .forfait .vignette .picto-vign {
              width: 80px;
              height: 80px;
              background-repeat: no-repeat;
              background-size: contain;
              margin: auto;
              position: relative;
              top: 50%;
              transform: translateY(-50%); }
              .admin-panel .container .content.mon-offres .block-forfait .forfait .vignette .picto-vign.free {
                background-image: url("images/offres/feuille-noire.png");
                width: 60px;
                height: 60px; }
              .admin-panel .container .content.mon-offres .block-forfait .forfait .vignette .picto-vign.premium {
                background-image: url("images/offres/diamant-noir.jpg"); }
            .admin-panel .container .content.mon-offres .block-forfait .forfait .vignette.active {
              transition: 0.5s;
              background-color: #ff5e5e; }
          .admin-panel .container .content.mon-offres .block-forfait .forfait .title {
            font-size: 25px;
            margin-top: 15px;
            margin-bottom: 15px; }
          .admin-panel .container .content.mon-offres .block-forfait .forfait .text {
            width: 90%;
            margin: auto; }
        .admin-panel .container .content.mon-offres .block-forfait .bt-valideroffre {
          width: 210px;
          height: 50px;
          line-height: 50px; }
        .admin-panel .container .content.mon-offres .block-forfait .separator {
          background-color: #ff5e5e;
          width: 2px;
          height: 300px;
          position: absolute;
          top: 0;
          right: 0; }
      .admin-panel .container .content.mon-offres .block-modules {
        display: inline-block;
        vertical-align: middle;
        width: 62%;
        padding-top: 100px; }
        .admin-panel .container .content.mon-offres .block-modules .title {
          margin-top: 50px;
          font-size: 35px;
          text-align: center; }
        .admin-panel .container .content.mon-offres .block-modules .subtitle {
          text-align: center;
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 40px; }
        .admin-panel .container .content.mon-offres .block-modules .modules {
          width: 90%;
          height: 40px;
          padding-top: 10px;
          margin: auto;
          margin-bottom: 15px;
          border: 2px solid #ff5e5e;
          border-radius: 12px;
          position: relative;
          transition: 0.5s; }
          .admin-panel .container .content.mon-offres .block-modules .modules .picto-mod {
            display: inline-block;
            vertical-align: middle;
            background-image: url("images/offres/panier.png");
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 10px; }
          .admin-panel .container .content.mon-offres .block-modules .modules .libele {
            margin-left: 20px;
            font-size: 20px;
            display: inline-block;
            vertical-align: middle; }
          .admin-panel .container .content.mon-offres .block-modules .modules .price {
            margin-left: 20px;
            font-size: 17px;
            display: inline-block;
            vertical-align: middle; }
          .admin-panel .container .content.mon-offres .block-modules .modules .description {
            margin-left: 20px;
            font-size: 17px;
            display: inline-block;
            vertical-align: middle; }
          .admin-panel .container .content.mon-offres .block-modules .modules .bt-ajoutmod {
            width: 110px;
            height: 30px;
            line-height: 30px;
            position: absolute;
            right: 10px;
            top: 8px;
            display: inline-block;
            vertical-align: middle; }
      .admin-panel .container .content.change-psd .block-text {
        text-align: center;
        margin-top: 30px; }
        .admin-panel .container .content.change-psd .block-text .title {
          font-size: 35px; }
      .admin-panel .container .content.change-psd .separator {
        width: 130px;
        margin-top: 30px;
        margin-bottom: 20px; }
      .admin-panel .container .content.change-psd .title {
        text-align: center;
        font-size: 22px;
        margin-bottom: 15px; }
      .admin-panel .container .content.change-psd .no-compte {
        width: 250px; }
      .admin-panel .container .content.change-psd .form-group {
        width: 450px;
        margin-bottom: 15px;
        text-align: center; }
      .admin-panel .container .content.change-psd .bt-changepsw {
        width: 280px;
        height: 35px;
        line-height: 28px;
        color: white !important;
        margin-top: 70px; }
        .admin-panel .container .content.change-psd .bt-changepsw:hover {
          color: #ff5e5e !important; }
      .admin-panel .container .content.mes-factures, .admin-panel .container .content.all-fact {
        text-align: center;
        max-height: 590px; }
        .admin-panel .container .content.mes-factures .table, .admin-panel .container .content.all-fact .table {
          width: 100%;
          font-size: 16px;
          padding-top: 30px; }
          .admin-panel .container .content.mes-factures .table .bt-pdf, .admin-panel .container .content.all-fact .table .bt-pdf {
            color: #FFF !important; }
            .admin-panel .container .content.mes-factures .table .bt-pdf:hover, .admin-panel .container .content.all-fact .table .bt-pdf:hover {
              color: #ff5e5e !important; }
      .admin-panel .container .content.create-prod {
        font-size: 21px; }
        .admin-panel .container .content.create-prod .block-text {
          text-align: center;
          margin-top: 30px;
          margin-bottom: 30px; }
          .admin-panel .container .content.create-prod .block-text .title {
            font-size: 35px; }
        .admin-panel .container .content.create-prod form {
          width: 80%;
          margin: auto; }
          .admin-panel .container .content.create-prod form .form-group {
            margin-bottom: 20px; }
        .admin-panel .container .content.create-prod .checkbox, .admin-panel .container .content.create-prod .label {
          display: inline-block;
          vertical-align: middle; }
        .admin-panel .container .content.create-prod .btt {
          text-align: center; }
        .admin-panel .container .content.create-prod .bt-create {
          width: 300px;
          margin: auto;
          color: #FFF !important;
          background-color: inherit;
          background-color: #ff5e5e; }
          .admin-panel .container .content.create-prod .bt-create:hover {
            color: #ff5e5e !important; }

