﻿
&.admin-panel {
    display: block;

    .container {
        font-size: 0;

        .admin-bar {
            width: 210px;
            height: 100vh;
            display: inline-block;
            vertical-align: top;
            background-color: $bg-pink-admin;
            color: $white;

            .block-user-info {
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid $white;

                .bulle-icone {
                    width: 70px;
                    height: 70px;
                    display: block;
                    margin: auto;

                    .icone {
                        width: 50px;
                        height: 50px;
                        background-image: url("images/commun/logo.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: auto;
                    }
                }


                .block-info {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    width: 100%;

                    .name {
                        font-size: 16px;
                    }

                    .email {
                        font-size: 16px;
                    }
                }
            }

            .admin-part {
                border-bottom: 2px solid $white;
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: left;
                padding-left: 8px;
                position: relative;

                .title {
                    font-size: 19px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                }

                .arrow {
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    background-image: url("images/admin/arrow.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: 10px;
                    top: 21px;
                }

                .picture {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &.block-offres {
                    .picture {
                        background-image: url("images/admin/panier_white.png");
                    }
                }

                &.block-changemdp {
                    .picture {
                        background-image: url("images/admin/gear.png");
                    }
                }

                &.block-facture {
                    .picture {
                        background-image: url("images/admin/file.png");
                    }
                }

                &.block-addproduct {
                    .picture {
                        background-image: url("images/admin/plus.png");
                    }
                }

                &.block-allfacture {
                    .picture {
                        background-image: url("images/admin/list-fact.png");
                    }
                }
            }
        }



        .content {
            width: calc(100% - 230px);
            height: 443px;
            display: inline-block;
            vertical-align: top;

            &.mon-offres {
                .block-forfait {
                    margin-top: 70px;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    width: 38%;
                    position: relative;

                    .forfait {
                        width: 360px;
                        display: inline-block;
                        vertical-align: top;

                        .vignette {
                            transition: 0.5s;
                            border: 2px solid $pink;
                            border-radius: 150px;
                            width: 150px;
                            height: 150px;
                            margin: auto;
                            cursor: pointer;

                            .picto-vign {
                                width: 80px;
                                height: 80px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                margin: auto;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);

                                &.free {
                                    background-image: url("images/offres/feuille-noire.png");
                                    width: 60px;
                                    height: 60px;
                                }

                                &.premium {
                                    background-image: url("images/offres/diamant-noir.jpg");
                                }
                            }

                            &.active {
                                transition: 0.5s;
                                background-color: $pink;
                            }
                        }

                        .title {
                            font-size: 25px;
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }

                        .text {
                            width: 90%;
                            margin: auto;
                        }
                    }

                    .bt-valideroffre {
                        width: 210px;
                        height: 50px;
                        line-height: 50px;
                    }

                    .separator {
                        background-color: $pink;
                        width: 2px;
                        height: 300px;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                .block-modules {
                    display: inline-block;
                    vertical-align: middle;
                    width: 62%;
                    padding-top: 100px;

                    .title {
                        margin-top: 50px;
                        font-size: 35px;
                        text-align: center;
                    }

                    .subtitle {
                        text-align: center;
                        font-size: 18px;
                        margin-top: 10px;
                        margin-bottom: 40px;
                    }

                    .modules {
                        width: 90%;
                        height: 40px;
                        padding-top: 10px;
                        margin: auto;
                        margin-bottom: 15px;
                        border: 2px solid $pink;
                        border-radius: 12px;
                        position: relative;
                        transition: 0.5s;

                        .picto-mod {
                            display: inline-block;
                            vertical-align: middle;
                            background-image: url("images/offres/panier.png");
                            width: 30px;
                            height: 30px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-left: 10px;
                        }

                        .libele {
                            margin-left: 20px;
                            font-size: 20px;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .price {
                            margin-left: 20px;
                            font-size: 17px;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .description {
                            margin-left: 20px;
                            font-size: 17px;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .bt-ajoutmod {
                            width: 110px;
                            height: 30px;
                            line-height: 30px;
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }

            &.change-psd {
                .block-text {
                    text-align: center;
                    margin-top: 30px;

                    .title {
                        font-size: 35px;
                    }
                }

                .separator {
                    width: 130px;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }

                .title {
                    text-align: center;
                    font-size: 22px;
                    margin-bottom: 15px;
                }

                .no-compte {
                    width: 250px;
                }


                .form-group {
                    width: 450px;
                    margin-bottom: 15px;
                    text-align: center;
                }

                .bt-changepsw {
                    width: 280px;
                    height: 35px;
                    line-height: 28px;
                    color: white !important;
                    margin-top: 70px;

                    &:hover {
                        color: $pink !important;
                    }
                }
            }

            &.mes-factures, &.all-fact {
                text-align: center;
                max-height: 590px;

                .table {
                    width: 100%;
                    font-size: 16px;
                    padding-top: 30px;

                    .bt-pdf {
                        color: $white !important;


                        &:hover {
                            color: $pink !important;
                        }
                    }
                }
            }

            &.create-prod {
                font-size: 21px;

                .block-text {
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 30px;

                    .title {
                        font-size: 35px;
                    }
                }

                form {
                    width: 80%;
                    margin: auto;

                    .form-group {
                        margin-bottom: 20px;
                    }
                }

                .checkbox, .label {
                    display: inline-block;
                    vertical-align: middle;
                }

                .btt {
                    text-align: center;
                }

                .bt-create {
                    width: 300px;
                    margin: auto;
                    color: $white !important;
                    background-color: inherit;
                    background-color: $pink;

                    &:hover {
                        color: $pink !important;
                    }
                }
            }
        }
    }
}
