﻿#scene-engagements {
    display: block;

    .container {
        .big-block-ancre {
            height: 350px;
            background-image: url("images/engagements/bg-enga.png");
            background-repeat: no-repeat;
            background-size: cover;

            .block-ancre {
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                .ancre {
                    width: 110px;
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.2);
                        transition: 0.5s;
                    }

                    &.secu {
                        .picture {
                            background-image: url("images/engagements/protection.png");
                        }
                    }

                    &.unique {
                        margin-left: 30px;
                        margin-right: 30px;

                        .picture {
                            background-image: url("images/engagements/unique.png");
                        }
                    }

                    &.sav {
                        .picture {
                            background-image: url("images/engagements/sav.png");
                        }
                    }

                    .picture {
                        width: 60px;
                        height: 60px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: auto;
                    }

                    .title {
                        font-size: 16px;
                        margin-top: 12px;
                    }
                }
            }
        }

        .part {
            padding-top: 25px;
            padding-bottom: 25px;
            width: 90%;
            margin: auto;

            .title {
                font-size: 25px;
                
            }

            .text {
               
                MARGIN-TOP: 10px;
            }

            &.pink {
                background-color: $bg-pink-clair;
            }
        }
    }
}
