﻿#scene-home {
    display: block;

    .big-block-one {
        background-color: $bg-pink-clair;
        width: 100%;
        padding-top: 50px;

        .block-text {
            text-align: center;

            .title {
                font-size: 55px;
            }

            .subtitle {
                font-size: 23px;
            }
        }
    }

    .block-smartphone {
        text-align: center;
        width: 450px;
        height: 380px;
        position: relative;
        margin: auto;
        margin-top: 40px;
        overflow: hidden;

        .phone {
            width: 280px;
            height: 550px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            bottom: -570px;
            transition: 1s;

            &.one {
                background-image: url("images/home/heroandroid.png");
                left: 0px;
            }

            &.two {
                background-image: url("images/home/heroios.png");
                right: -70px;
            }

            &.active {
                bottom: -200px;
                transition: 1s;
            }
        }
    }

    .block-offres {
        box-shadow: 5px 1px 29px lightgrey;
        text-align: center;
        background-color: $white;
        position: relative;
        z-index: 5;
        height: 250px;
        padding-top: 20px;

        .title {
            font-size: 39px;
            margin-bottom: 15px;
        }

        .text {
            font-size: 21px;
            margin-bottom: 25px;
        }

        .bt-offres {
            width: 220px;
        }
    }

    .block-iphonered {
        text-align: center;
        overflow: hidden;

        .block-text {
            width: 300px;
            display: inline-block;
            vertical-align: middle;

            .title {
                font-size: 37px;
                margin-bottom: 8px;
            }

            .text {
                font-size: 20px;
            }
        }

        .picture-iphone {
            width: 440px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            height: 320px;

            .picture {
                position: absolute;
                width: 100%;
                height: 320px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                transition: 1s;
            }
        }

        &.one {
            margin-top: 40px;

            .block-text {
                margin-right: 5%;
            }

            .picture-iphone {
                .picture {
                    right: -990px;
                    background-image: url("images/home/iphonered.png");

                    &.active {
                        transition: 1s;
                        right: 0;
                    }
                }
            }
        }

        &.two {
            .block-text {
                margin-left: 5%;
            }

            .picture-iphone {
                .picture {
                    left: -990px;
                    background-image: url("images/home/iphonered2.png");

                    &.active {
                        transition: 1s;
                        left: 0;
                    }
                }
            }
        }
    }

    .block-plusencore {
        .separator {
            background-color: $pink;
            width: 480px;
            height: 2px;
            margin: auto;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .bt-plusencore {
            width: 220px;
        }
    }

    .block-follow {
        width: 100%;
        height: 240px;
        margin-top: 50px;
        background-image: url("images/home/bg-social.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 75%;
        padding-top: 30px;

        .title {
            color: $white;
            font-size: 65px;
            text-align: center;
        }

        .block-social {
            text-align: center;
            margin-top: 20px;

            .picto {
                width: 55px;
                height: 55px;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    transition: 0.5s;
                    transform: scale(1.2);
                }

                &.picto-fb {
                    background-image: url("images/home/fb_picto.png");
                }

                &.picto-tw {
                    background-image: url("images/home/tw_picto.png");
                    margin-left: 45px;
                    margin-right: 45px;
                }

                &.picto-in {
                    background-image: url("images/home/in_picto.png");
                }
            }
        }
    }
}


@media screen and (max-width: 850px) {
    #scene-home {
        .big-block-one {
            .block-text {
                .title {
                }

                .subtitle {
                }
            }

            .block-smartphone {
                .phone {
                    &.one {
                    }

                    &.two {
                    }

                    &.active {
                    }
                }
            }
        }

        .block-offres {
            .title {
            }

            .text {
            }

            .bt-offres {
            }
        }

        .block-iphonered {
            .block-text {
                .title {
                }

                .text {
                }
            }

            .picture-iphone {
                .picture {
                }
            }

            &.one {
                .block-text {
                }

                .picture-iphone {
                    .picture {
                        &.active {
                        }
                    }
                }
            }

            &.two {
                .block-text {
                }

                .picture-iphone {
                    .picture {
                        &.active {
                        }
                    }
                }
            }
        }

        .block-plusencore {
            .separator {
            }

            .bt-plusencore {
            }
        }

        .block-follow {
            .title {
            }

            .block-social {
                .picto {
                    &:hover {
                    }

                    &.picto-fb {
                    }

                    &.picto-tw {
                    }

                    &.picto-in {
                    }
                }
            }
        }
    }
}
