﻿#scene-login {
    .block-text {
        text-align: center;
        margin-top: 30px;

        .title {
            font-size: 65px;
        }

        .subtitle {
            font-size: 23px;
        }
    }

    .block-form-login {
        padding-bottom: 40px;

        #socialLoginForm {
            margin-top: 60px;

            h4, hr {
                display: none;
            }

            .separator {
                width: 110px;
            }

            #socialLoginList {
                text-align: center;

                #Google {
                    width: 130px;
                    height: 60px;
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: none;
                    font-size: 0;
                    background-image: url("images/commun/google.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    outline: none;
                    cursor: pointer;
                }

                #Microsoft {
                    width: 155px;
                    height: 60px;
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: none;
                    font-size: 0;
                    background-image: url("images/commun/microsoft.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    top: -7px;
                    margin-left: 25px;
                }
            }
        }


        .cadre-login {
            text-align: center;
            border: 2px solid #ff5e5e;
            width: 530px;
            padding-top: 30px;
            padding-bottom: 20px;
            margin: auto;
            margin-top: 30px;
            border-radius: 10px;
        }

        .block-login-inscription {
            .separator {
                width: 130px;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            .title {
                text-align: center;
                font-size: 22px;
                margin-bottom: 15px;
            }

            .no-compte {
                width: 250px;
            }
        }

        .form-group {
            width: 450px;
            margin-bottom: 15px;
        }

        .bt-connexion {
            width: 180px;
            height: 35px;
            line-height: 28px;
            color: white !important;

            &:hover {
                color: $pink !important;
            }
        }
    }
}
