﻿#scene-login .block-text {
  text-align: center;
  margin-top: 30px; }
  #scene-login .block-text .title {
    font-size: 65px; }
  #scene-login .block-text .subtitle {
    font-size: 23px; }

#scene-login .block-form-login {
  text-align: center;
  border: 2px solid #ff5e5e;
  width: 530px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px; }
  #scene-login .block-form-login .form-group {
    width: 450px;
    margin-bottom: 15px; }
  #scene-login .block-form-login .bt-connexion {
    width: 180px;
    height: 35px;
    line-height: 35px;
    color: white !important; }

