﻿
        #scene-nous {
            display: block;

            .block-bkg {
                background-image: url("images/nous/bg-nous.jpg");
                width: 100%;
                height: 430px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 20%;

                .big-title {
                    color: white;
                    font-size: 195px;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .presentation {
                text-align: left;
                width: 775px;
                margin: auto;
                margin-top: 40px;
                line-height: 42px;
                font-size: 20px;
            }

            .block-avis {
                background-color: #FF4E50;
                padding-top: 40px;
                margin-top: 30px;
                height: 340px;

                .title {
                    color: white;
                    text-align: center;
                    font-size: 40px;
                }

                .part-avis {
                    margin-top: 50px;
                    text-align: center;

                    .avis {
                        width: 330px;
                        height: 160px;
                        background-color: white;
                        border-radius: 10px;
                        display: inline-block;
                        vertical-align: middle;

                        &.two {
                            margin-left: 20px;
                            margin-right: 20px;
                        }

                        .text {
                            margin-bottom: 0px;
                            padding: 20px;
                            font-size: 15px;
                            text-align: center;
                        }

                        .block-user {
                            text-align: left;
                            position: relative;

                            .picto-user {
                                width: 50px;
                                height: 50px;
                                display: inline-block;
                                vertical-align: middle;
                                background-size: contain;
                                background-repeat: no-repeat;
                                margin-left: 20px;
                                margin-right: 10px;

                                &.marc {
                                    background-image: url("images/nous/marc.png");
                                }

                                &.sarah {
                                    background-image: url("images/nous/sarah.png");
                                }

                                &.nicolas {
                                    background-image: url("images/nous/nicolas.png");
                                }
                            }

                            .part-name {
                                width: 150px;
                                display: inline-block;
                                vertical-align: middle;

                                .name {
                                }

                                .device {
                                }
                            }

                            .picto-os {
                                width: 40px;
                                height: 40px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                display: inline-block;
                                position: absolute;
                                right: 20px;

                                &.apple {
                                    background-image: url("images/nous/apple-picto.png");
                                }

                                &.android {
                                    background-image: url("images/nous/android-picto.png");
                                }
                            }
                        }
                    }
                }
            }

            .block-rejoindre {
                height: 200px;
                padding-top: 45px;
                text-align: center;

                .title {
                    font-size: 30px;
                    margin-bottom: 30px;
                }

                .bt-rejoindre {
                    width: 220px;
                }
            }
        }
  
