﻿#scene-offres {
    display: block;

    .container {
        .block-title {
            margin-top: 40px;
            text-align: center;

            .title {
                font-size: 55px;
            }

            .subtitle {
                font-size: 25px;
                margin-top: 20px;
            }
        }

        .block-forfait {
            margin-top: 70px;
            text-align: center;

            .forfait {
                width: 360px;
                display: inline-block;
                vertical-align: top;

                .vignette {
                    transition: 0.5s;
                    border: 2px solid $pink;
                    border-radius: 150px;
                    width: 150px;
                    height: 150px;
                    margin: auto;
                    cursor: pointer;

                    .picto-vign {
                        width: 80px;
                        height: 80px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: auto;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        &.free {
                            background-image: url("images/offres/feuille-noire.png");
                            width: 60px;
                            height: 60px;
                        }

                        &.premium {
                            background-image: url("images/offres/diamant-noir.jpg");
                        }
                    }

                    &.active {
                        transition: 0.5s;
                        background-color: $pink;
                    }
                }

                .title {
                    font-size: 25px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .text {
                    width: 90%;
                    margin: auto;
                }
            }

            .separator {
                background-color: $pink;
                width: 330px;
                height: 2px;
                margin: auto;
                margin-bottom: 25px;
                margin-top: 55px;
            }
        }

        .block-modules {
            .title {
                margin-top: 50px;
                font-size: 35px;
                text-align: center;
            }

            .subtitle {
                text-align: center;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 40px;
            }

            .modules {
                width: 90%;
                height: 40px;
                padding-top: 10px;
                margin: auto;
                margin-bottom: 15px;
                border: 2px solid $pink;
                border-radius: 12px;
                position: relative;
                transition: 0.5s;

                .picto-mod {
                    display: inline-block;
                    vertical-align: middle;
                    background-image: url("images/offres/panier.png");
                    width: 30px;
                    height: 30px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                }

                .libele {
                    margin-left: 20px;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .price {
                    margin-left: 20px;
                    font-size: 17px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .description {
                    margin-left: 20px;
                    font-size: 17px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .bt-ajoutmod {
                    width: 110px;
                    height: 30px;
                    line-height: 30px;
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    display: inline-block;
                    vertical-align: middle;
                }

                &.blocked {
                    background-color: $blocked;
                    color: grey;
                    pointer-events: none;

                    .bt-ajoutmod {
                        display: none;
                    }
                }
            }
        }
    }
}
