﻿#scene-register {
    .block-text {
        text-align: center;
        margin-top: 30px;

        .title {
            font-size: 65px;
        }

        .subtitle {
            font-size: 23px;
        }
    }

    .block-form-register {
        padding-bottom: 40px;

        .cadre-login {
            text-align: center;
            border: 2px solid #ff5e5e;
            width: 90%;
            padding-top: 30px;
            padding-bottom: 20px;
            margin: auto;
            margin-top: 30px;
            border-radius: 10px;
        }

        .block-login-inscription {
            .separator {
                width: 130px;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            .title {
                text-align: center;
                font-size: 22px;
                margin-bottom: 15px;
            }

            .no-compte {
                width: 250px;
                text-align: center;
            }
        }

        .form-group {
            width: 90%;
            margin-bottom: 15px;

            input {
                text-align: left;
                padding-left: 30px;
            }
        }

        .bt-inscription {
            width: 180px;
            height: 35px;
            line-height: 28px;
            color: white !important;
            text-align: center !important;
            padding-left: 0 !important;
            background-color:$pink;
            &:hover {
                color: $pink !important;
            }
        }
    }
}
