﻿$font: 'Kurale-Regular';
$font_ko: 'koliko-Regular';
$font_bold: 'koliko-Bold';

@font-face {
    font-family: 'koliko-Bold';
    src: url('font/koliko-Bold.eot?#iefix') format('embedded-opentype'), url('font/koliko-Bold.woff') format('woff'), url('font/koliko-Bold.ttf') format('truetype'), url('font/koliko-Bold.svg#koliko-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'koliko-Regular';
    src: url('font/koliko-Regular.eot?#iefix') format('embedded-opentype'), url('font/koliko-Regular.woff') format('woff'), url('font/koliko-Regular.ttf') format('truetype'), url('font/koliko-Regular.svg#koliko-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kurale-Regular';
    src: url('font/Kurale-Regular.eot?#iefix') format('embedded-opentype'), url('font/Kurale-Regular.woff') format('woff'), url('font/Kurale-Regular.ttf') format('truetype'), url('font/Kurale-Regular.svg#Kurale-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


