﻿@model Nobble.Models.Produit

<div class="admin-panel">
    <div class="container">

        @Html.Partial("_Admin-panel")

        <div class="content create-prod">
            <div class="block-text">
                <div class="title">Ajouter un produit</div>
                
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        
                       
                            @Html.EditorFor(model => model.libelle, new { htmlAttributes = new { @class = "form-control button-custom btempty", placeholder="Libelle" } })
                            @Html.ValidationMessageFor(model => model.libelle, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        
                       
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control button-custom btempty", placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                      
                    </div>

                    <div class="form-group">
                        
                       
                            @Html.EditorFor(model => model.prix, new { htmlAttributes = new { @class = "form-control button-custom btempty", placeholder = "Prix en €" } })
                            @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
                    
                    </div>

                    <div class="form-group">
                        
                       
                            <div class="checkbox">
                                @Html.EditorFor(model => model.is_option)
                                @Html.ValidationMessageFor(model => model.is_option, "", new { @class = "text-danger" })
                            </div>
                        @Html.LabelFor(model => model.is_option, htmlAttributes: new { @class = "label" } )
                        
                    </div>

                    <div class="form-group btt">
                        
                            <input type="submit" value="Valider" class="button-custom btempty bt-create" />
                        
                    </div>
                </div>
            }

            

        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
