﻿@model IEnumerable<Nobble.Models.Produit>
<table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.libelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_option)
                </td>
                <td>
                    <select id="select">
                        <option value="1">1Mois</option>
                        <option value="3" >3Mois</option>
                        <option value="12">1An</option>
                    </select>
                </td>
                <td>
                    <input type='button' onclick='AddElement(@item.id)' value='Status Update'>
                </td>
            </tr>
        }
</table>
<script type="text/javascript">
    function AddElement(produit_id) {
        console.log(produit_id);
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddAbonnement", "Abonnements")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'produit_id': produit_id, 'frequence': $('#select').val() }),
            dataType: "json",
            success: function () { console.log('Succes'); },
            error: function () { console.log('Error'); },
        });

};
</script>
