﻿@model IEnumerable<Nobble.Models.Produit>

<div id="scene-offres">
    <div class="container">
        <div class="block-title">
            <div class="title">Nos Offres</div>
            
            @if (!Request.IsAuthenticated)
            {
                <div class="subtitle ifnoco">
                    @Html.ActionLink("Connectez vous pour profiter de nos offres !", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </div>
            }
            else
            {
                <div class="subtitle">Sélectionnez le forfait qui vous convient.</div>
            }
                </div>
        <div class="block-forfait">
            <div class="forfait one">
               
                    @if (Request.IsAuthenticated)
                    {
                        <div class="vignette" onclick='AddElement(@ViewBag.FreeMode.id )'>
                            <div class="picto-vign free" ></div>
                        </div>
                    }
                    else
                    {
                        <div class="vignette">
                            <div class="picto-vign free" ></div>
                        </div>
                    }
                        
                <div class="title">@ViewBag.FreeMode.libelle</div>
                <div class="text">@ViewBag.FreeMode.description</div>
                <div class="prix">@ViewBag.FreeMode.prix €/Mois</div>
            </div>
            <div class="forfait two">
                
                @if (Request.IsAuthenticated)
                {
                    <div class="vignette" onclick='AddElement(@ViewBag.PremiumMode.id )'>
                        <div class="picto-vign premium"></div>
                    </div>
                }
                else
                {
                    <div class="vignette">
                        <div class="picto-vign premium"></div>
                    </div>
                }

                <div class="title">@ViewBag.PremiumMode.libelle</div>
                <div class="text">@ViewBag.PremiumMode.description</div>
                <div class="prix">@ViewBag.PremiumMode.prix €/Mois</div>
            </div>
            <div class="separator"></div>
        </div>
        <div class="block-modules">
            <div class="title">Les modules</div>
            <div class="subtitle">Sélectionnez les modules complémentaire.</div>
            @foreach (var item in Model)
            {
                <div class="modules">
                    <div class="picto-mod"></div>
                    <div class="libele">@Html.DisplayFor(modelItem => item.libelle)</div>
                    <div class="description">@Html.DisplayFor(modelItem => item.description)</div>
                    <div class="price">@Html.DisplayFor(modelItem => item.prix)€/Mois</div>
                @if (Request.IsAuthenticated)
                {
                    <div class="button-custom btempty bt-ajoutmod" onclick='AddElement(@item.id)'>Ajouter</div>
                }
                </div>
            }
           

        </div>
    </div>
</div>
<script>
function AddElement(produit_id) {
    console.log(produit_id);
    $.ajax({
        type: "POST",
        url: '@Url.Action("AddAbonnement", "Abonnements")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ 'produit_id': produit_id }),
        dataType: "json",
        success: function () { console.log('Succes'); },
        error: function () { console.log('Error'); },
        });

    };
</script>