﻿@using Microsoft.AspNet.Identity
<div class="admin-bar">
    <div class="block-user-info">
        <div class="bulle-icone"><div class="icone"></div></div>
        <div class="block-info">
            <div class="email">@User.Identity.GetUserName()</div>
        </div>
    </div>


    <div class="admin-part block-offres">

        <div class="picture"></div>
        <div class="title">@Html.ActionLink("Mon offre", "Offre", "Manage")</div>
        <div class="arrow"></div>

    </div>

    <div class="admin-part block-changemdp">
        <div class="picture"></div>
        <div class="title">@Html.ActionLink("Mot de passe", "ChangePassword", "Manage")</div>
        <div class="arrow"></div>
    </div>
    <div class="admin-part block-facture">
        <div class="picture"></div>
        <div class="title">@Html.ActionLink("Mes factures", "MesFactures", "Factures")</div>
        <div class="arrow"></div>
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="admin-part block-addproduct">
            <div class="picture"></div>
            <div class="title">@Html.ActionLink("Produits", "Create", "Produits")</div>
            <div class="arrow"></div>
        </div>
            <div class="admin-part block-allfacture">
                <div class="picture"></div>
                <div class="title">@Html.ActionLink("Les Factures", "Index", "Factures")</div>
                <div class="arrow"></div>
            </div>
    }
</div>