﻿@using Microsoft.AspNet.Identity
@using  Nobble.Models;
@{ 
    var list = (List<Produit>)Session["Panier"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="headers">
        <div class="container">
            <div class="logo-main"><a href="/"></a></div>
            <div class="menu-main">

                <ul>
                    <li>@Html.ActionLink("Nous", "About", "Home")</li>
                    <li>@Html.ActionLink("Offres", "Offres", "Produits")</li>
                    <li>@Html.ActionLink("Engagements", "Engagements", "Home")</li>
                    @if (Request.IsAuthenticated)
            {
                        <li id="name-user-co">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                            @Html.AntiForgeryToken()

                           @User.Identity.GetUserName()
                            <ul class="down-menu">
                                <li>@Html.ActionLink("Mon compte", "Offre", "Manage")</li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
                            </ul>

                            }
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Se Connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "li-seco" })</li>
                    }
                </ul>
                    <div class="panier">
                        <div class="compteur"><span class="number"></span>0</div>
                    </div>
            </div>
            <div class="menu-mobile" id="menu-mobile-bt">
                <div class="hamburger one"></div>
                <div class="hamburger two"></div>
                <div class="hamburger three"></div>
            </div>

            <div class="view-panier">
                @if (Request.IsAuthenticated)
                {
                    <div id="panier-content">
                        <div class="block-myforfait">
                            <div class="myforfait">
                                <div class="vignette">
                                    <div id="forfaitIcon"></div>
                                </div>
                                <div id="forfaitTitle" class="title"></div>
                            </div>
                            <div class="separator"></div>
                        </div>
                        <div id="block-modules" class="block-modules">
                        </div>
                        <div class="button-custom pink bt-viewcompte">@Html.ActionLink("Mon Forfait", "Offre", "Manage")</div>
                    </div>
                    <div id="panier-vide">
                        <div class="title">Votre panier est vide</div>
                        <div class="button-custom pink bt-viewcompte">
                            @Html.ActionLink("Nos offres", "Offres", "Produits")
                        </div>
                    </div>
                }
                else
                {

                    <div class="title">Connectez-vous pour afficher votre panier</div>
                    <div class="button-custom pink bt-viewcompte">
                        @Html.ActionLink("Par ici", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </div>

                 }

                </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
    </div>

    <footer>
        <div id="footer">
            <div class="container">
                <div class="block-store">
                    <div class="icone icone-ios"></div>
                    <div class="icone icone-android"></div>
                </div>
                <ul class="menu-footer">
                    <li>@Html.ActionLink("Mentions légales", "Mentions", "Home")</li>
                    <li>@Html.ActionLink("Contactez-nous", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Nos offres", "Offres", "Produits")</li>
                    <li>@Html.ActionLink("Notre équipe", "About", "Home")</li>
                </ul>
               
                <div class="copyright">©Nobble 2017. Tous droits réservés</div>

                
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@if (Request.IsAuthenticated)
{
    <script>
        setInterval(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("userPanier", "Manage")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                Object.keys(response).length;
                $("#block-modules").html("");
                response.forEach(function (element) {
                    if (element.is_option == false) {
                        $('#forfaitTitle').text(element.produit.libelle);
                        $('#forfaitIcon').removeClass();
                        if (element.produit.libelle == "Premium Mode") {
                            $('#forfaitIcon').addClass("picto-vign premium");
                        } else {
                            $('#forfaitIcon').addClass("picto-vign free");

                        }
                    } else {
                        var template = `<div class="modules">
                                    <div class="picto-mod"></div>
                                    <div class="libele">${element.produit.libelle} </div>
                                    <div class="button-custom btempty bt-ajoutmod" onclick="removeItemPanier(${element.produit.id})">Supprimer</div>
                                </div>`;
                        $('#block-modules').append(template);
                    }
                });
            },
            error: function () { console.log('Error'); },
        });
        }, 500);

        setInterval(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("countUserPanier", "Manage")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('.compteur').text(response);
                    if (response > 0) {
                        $('#panier-content').show();
                        $('#panier-vide').hide();
                    } else {
                        $('#panier-vide').show();
                        $('#panier-content').hide();
                    }
                },
                error: function () { console.log('Error'); },
                });
        }, 500);

        function removeItemPanier(produit_id) {
                console.log(produit_id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("removeItemPanier", "Manage")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'produit_id': produit_id }),
                dataType: "json",
                success: function () { console.log('Succes'); },
                error: function () { console.log('Error'); },
                });
        }
    </script>
}