﻿@model Nobble.Models.ChangePasswordViewModel


<div class="admin-panel">
    <div class="container">

        @Html.Partial("_Admin-panel")

        <div class="content change-psd">

            <div class="block-text">
                <div class="title">Modifier votre mot de passe</div>
            </div>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
              
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control button-custom btempty", placeholder="Mot de passe actuel" })
                    
                </div>
                <div class="form-group">
                    
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control button-custom btempty", placeholder = "Nouveau Mot de passe" })
                  
                </div>
                <div class="form-group">
                   
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control button-custom btempty", placeholder = "Confirmer Nouveau Mot de passe" })
                    
                </div>
                <div class="form-group">
                    
                        <input type="submit" value="Changer le mot de passe" class="button-custom  pink bt-changepsw" />
                   
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}