﻿@model Nobble.Models.IndexViewModel
@using Microsoft.AspNet.Identity

<div  class="admin-panel">
    <div class="container">
        
        @Html.Partial("_Admin-panel")
        
        <div class="content">
            <div class="side-changemdp">
                
            </div>
        </div>
    </div>
</div>
