﻿@model IEnumerable<Nobble.Models.Abonnement>

    
<div  class="admin-panel">
    <div class="container">
        
        @Html.Partial("_Admin-panel")
        
        <div class="content mon-offres">

            <div class="block-forfait">
                <div class="forfait one">
                    <div class="vignette">
                        
                            <div class="picto-vign"></div>
                        
                    </div>
                    <div class="title">@ViewBag.Mode.libelle</div>
                    @if(@ViewBag.newOffre)
                    {
                        <div class="button-custom btempty bt-valideroffre">@Html.ActionLink("Valider mon offre", "ValiderOffre", "Manage")</div>

                    }
                </div>
               
                <div class="separator"></div>
            </div>

            <div class="block-modules">
               
                @foreach (var item in Model)
            {
                    <div class="modules">
                        <div class="picto-mod"></div>
                        <div class="libele">@Html.DisplayFor(modelItem => item.produit.libelle)</div>
                        <div class="description">@Html.DisplayFor(modelItem => item.date_achat)</div>
                        <div class="price">@Html.DisplayFor(modelItem => item.prix)€/Mois</div>
                        @if (Request.IsAuthenticated)
                {
                            <div class="button-custom btempty bt-ajoutmod">@Html.ActionLink("Supprimer", "removeAbonnement", new { id = item.id })</div>
                        }
                    </div>
                }


            </div>
           
        </div>
    </div>
</div>





