﻿@model Nobble.Models.Facture

@if (Model.isEmpty)
{
    <h1>Il n'y a pas d'article dans le panier.</h1>
}
else
{
    <table class="table">
        <tr>
            <td>
                Facture du @Model.date_facture.ToString()
            </td>
        </tr>
        @foreach (var unAbonnement in Model.abonnements)
        {
            <tr>
                <td>
                    @unAbonnement.produit.libelle
                </td>

            </tr>
        }
        <tr>
            <td>
                Prix total: @Model.prixTotal.ToString()
            </td>
        </tr>

    </table>
}


