﻿@{
    ViewBag.Title = "About";
}


<div id="scene-nous">
    <div class="container">

        <div class="block-bkg">
            <div class="big-title">NOUS</div>
        </div>

        <div class="presentation">
            Créée en 2011, l’application Nobble simplifie la gestion d’argent.<br>Chez Nobble, nous pensons que la gestion d’argent doit être simple, transparente et performante afin de vous puissiez vous concentrer sur ce qui est vraiment important.
            <br>Notre mission est d'allier innovation et technologie afin d'offrir à chacun d’entre vous la solution la plus performante et la plus simple pour vous accompagner au quotidien.
            <br>Nous sommes le leader en Europe : vous êtes plus de 1,7 million à nous faire confiance en France, en Angleterre, en Espagne et en Allemagne.
            <br>Nous sommes le seul acteur indépendant des banques en Europe. C’est une spécificité à laquelle nous tenons car elle nous permet de mieux vous accompagner en suggérant toujours ce qui est bon pour vous.
            <br>Participez à cette révolution. Rejoignez-nous !
        </div>

        <div class="block-avis">
            <div class="title">CE QUE NOS UTILISATEURS DISENT DE NOUS</div>

            <div class="part-avis">
                <div class="avis one">
                    <div class="text">"Depuis que j'ai cette application, je n'ai jamais été aussi à l'aise pour regarder mes comptes. C'est simple et rapide !"</div>
                    <div class="block-user">
                        <div class="picto-user marc"></div>
                        <div class="part-name">
                            <div class="name">Marc</div>
                            <div class="device">Utilisateur iOS</div>
                        </div>
                        <div class="picto-os apple"></div>
                    </div>
                </div>

                <div class="avis two">
                    <div class="text">"Depuis que j'ai cette application, je n'ai jamais été aussi à l'aise pour regarder mes comptes. C'est simple et rapide !"</div>
                    <div class="block-user">
                        <div class="picto-user sarah"></div>
                        <div class="part-name">
                            <div class="name">Sarah</div>
                            <div class="device">Utilisateur Android</div>
                        </div>
                        <div class="picto-os android"></div>
                    </div>
                </div>

                <div class="avis three">
                    <div class="text">"Depuis que j'ai cette application, je n'ai jamais été aussi à l'aise pour regarder mes comptes. C'est simple et rapide !"</div>
                    <div class="block-user">
                        <div class="picto-user nicolas"></div>
                        <div class="part-name">
                            <div class="name">Nicolas</div>
                            <div class="device">Utilisateur iOS</div>
                        </div>
                        <div class="picto-os apple"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="block-rejoindre">
            <div class="title">Rejoignez notre communauté !</div>
            <div class="button-custom btempty bt-rejoindre">Par ici</div>
        </div>

    </div>
</div>

