﻿
<div id="scene-engagements">
    <div class="container">
        <div class="big-block-ancre">
            <div class="block-ancre">
                <div class="ancre secu">
                    <div class="picture"></div>
                    <div class="title">Sécutité</div>
                </div>
                <div class="ancre unique">

                    <div class="picture"></div>
                    <div class="title">Unique</div>
                </div>
                <div class="ancre sav">
                    <div class="picture"></div>
                    <div class="title">SAV 24h/7j</div>
                </div>
            </div>
        </div>

        <div class="part block-securite" id="ancre-secu">
            <div class="title">PROTÉGER LA CONFIDENTIALITÉ DE VOS DONNÉES EST UNE PRIORITÉ ABSOLUE</div>
            <div class="text">
                Nous mettons les besoins de nos utilisateurs au centre de toutes nos décisions. Nous ne vendons pas vos données : nous construisons un modèle économique vertueux pour vous et pour nous.
                
                Lorsque nous identifions des opportunités pour vous (renégociation de crédit immobilier, économies possibles sur les frais bancaires…), nous vous suggérons un partenaire pour vous aider à réaliser votre projet. Si vous faites affaire, le partenaire nous rémunère. Vous êtes toujours prévenus lorsque nous sommes rémunérés.
               
                Nous travaillons avec des partenaires qui respectent nos valeurs : ils placent vos intérêts en premier, ils ont une bonne expérience mobile et de bons produits ou services.
                <br />
                Nous sommes indépendants des banques et cela nous permet de vous conseiller sans conflit d'intérêt.
            </div>
        </div>

        <div class="part block-unique pink" id="ancre-unique">
            <div class="title">UNIQUE SUR LE MARCHE</div>
            <div class="text">
                Nous mettons les besoins de nos utilisateurs au centre de toutes nos décisions. Nous ne vendons pas vos données : nous construisons un modèle économique vertueux pour vous et pour nous.

                Lorsque nous identifions des opportunités pour vous (renégociation de crédit immobilier, économies possibles sur les frais bancaires…), nous vous suggérons un partenaire pour vous aider à réaliser votre projet. Si vous faites affaire, le partenaire nous rémunère. Vous êtes toujours prévenus lorsque nous sommes rémunérés.

                Nous travaillons avec des partenaires qui respectent nos valeurs : ils placent vos intérêts en premier, ils ont une bonne expérience mobile et de bons produits ou services.
                <br />
                Nous sommes indépendants des banques et cela nous permet de vous conseiller sans conflit d'intérêt.
            </div>
        </div>

        <div class="part block-sav" id="ancre-sav">
            <div class="title">NOTRE EQUIPE A VOTRE SERVICE</div>
            <div class="text">
                Nous mettons les besoins de nos utilisateurs au centre de toutes nos décisions. Nous ne vendons pas vos données : nous construisons un modèle économique vertueux pour vous et pour nous.

                Lorsque nous identifions des opportunités pour vous (renégociation de crédit immobilier, économies possibles sur les frais bancaires…), nous vous suggérons un partenaire pour vous aider à réaliser votre projet. Si vous faites affaire, le partenaire nous rémunère. Vous êtes toujours prévenus lorsque nous sommes rémunérés.

                Nous travaillons avec des partenaires qui respectent nos valeurs : ils placent vos intérêts en premier, ils ont une bonne expérience mobile et de bons produits ou services.
                <br />
                Nous sommes indépendants des banques et cela nous permet de vous conseiller sans conflit d'intérêt.
            </div>
        </div>
    </div>
</div>

