﻿@{
    ViewBag.Title = "Home Page";
}

<div id="scene-home">
    <div class="container">
        <div class="big-block-one">

            <div class="block-text">
                <div class="title">Planifiez, gérer, achetez</div>
                <div class="subtitle">avec notre application mobile sécurisée</div>
            </div>

            <div class="block-smartphone">
                <div class="phone one"></div>
                <div class="phone two"></div>
            </div>
        </div>

            <div class="block-offres">
                <div class="title">Gratuite, et plus encore</div>
                <div class="text">
                    Flatus et flatus pomerium nec flatus praeter orbos homines<br>
                    potest quorundam inanes urbis obsequiorum qua.
                </div>
                <div class="button-custom  pink bt-offres">@Html.ActionLink("Nos Offres", "Offres", "Produits")</div>
            </div>

            <div class="block-iphonered one">
                <div class="block-text">
                    <div class="title">Calculer</div>
                    <div class="text">
                        le coût de votre prochain achat,<br>en fonction de votre budget,<br>le delai et la priorité
                    </div>
                </div>
                <div class="picture-iphone">
                    <div class="picture"></div>
                </div>
            </div>

            <div class="block-iphonered two">
                <div class="picture-iphone">
                    <div class="picture"></div>
                </div>
                <div class="block-text">
                    <div class="title">Manager</div>
                    <div class="text">
                        le coût de votre prochain achat,<br>en fonction de votre budget,<br>le delai et la priorité
                    </div>
                </div>
            </div>

            <div class="block-plusencore">
                <div class="separator"></div>
                <div class="button-custom btempty bt-plusencore">@Html.ActionLink("Et plus encore", "Engagements", "Home")</div>
            </div>

            <div class="block-follow">
                <div class="title">Suivez-nous</div>
                <div class="block-social">
                    <div class="picto picto-fb"></div>
                    <div class="picto picto-tw"></div>
                    <div class="picto picto-in"></div>
                </div>
            </div>
        
    </div>
</div>
