﻿footer {
    background-color: $bg-pink-clair;
    height: 150px;
    padding-top: 10px;
    position: relative;

    #footer {


        .container {
            .menu-footer {
                padding-left: 0;
                text-align: center;
                margin-top: 30px;

                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-left: 30px;
                    font-size: 17px;

                    a {
                    }
                }
            }

            .block-store {
                text-align: center;


                .icone {
                    width: 125px;
                    height: 35px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    vertical-align: middle;

                    &.icone-ios {
                        background-image: url("images/commun/appstore.png");
                    }

                    &.icone-android {
                        background-image: url("images/commun/playstore.png");
                    }
                }
            }

            .copyright {
                text-align: center;
                font-size: 14px;
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
            }
        }
    }
}
