﻿#headers {
  box-shadow: 5px -27px 73px black;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0; }
  #headers .container {
    height: 110px; }
    #headers .container .logo-main {
      background-image: url("images/commun/logo.png");
      width: 90px;
      height: 90px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 10px; }
    #headers .container .menu-main {
      position: absolute;
      right: 40px;
      top: 30px; }
      #headers .container .menu-main ul {
        display: inline-block;
        vertical-align: middle; }
        #headers .container .menu-main ul li {
          display: inline-block;
          margin-left: 40px;
          font-size: 20px;
          cursor: pointer; }
      #headers .container .menu-main .panier {
        cursor: pointer;
        display: inline-block;
        margin-left: 30px;
        vertical-align: middle;
        background-image: url("images/commun/panier.png");
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat; }
        #headers .container .menu-main .panier .compteur {
          width: 22px;
          border: 2px solid #ff5e5e;
          border-radius: 90px;
          height: 22px;
          line-height: 23px;
          font-size: 14px;
          text-align: center;
          position: absolute;
          top: -12px;
          right: -20px; }
    #headers .container .menu-mobile {
      display: none;
      position: absolute;
      right: 40px;
      top: 15px;
      height: 40px;
      width: 50px;
      cursor: pointer; }
      #headers .container .menu-mobile .hamburger {
        background-color: #ff5e5e;
        height: 3px;
        margin-bottom: 10px;
        position: absolute;
        right: 0;
        transition: 0.5s; }
        #headers .container .menu-mobile .hamburger.one {
          width: 50px; }
        #headers .container .menu-mobile .hamburger.two {
          width: 35px;
          bottom: 17px; }
        #headers .container .menu-mobile .hamburger.three {
          width: 20px;
          bottom: 6px; }
      #headers .container .menu-mobile.active .hamburger.one {
        width: 20px; }
      #headers .container .menu-mobile.active .hamburger.two {
        width: 35px; }
      #headers .container .menu-mobile.active .hamburger.three {
        width: 50px; }
    #headers .container .view-panier {
      background-color: white;
      position: absolute;
      top: 109px;
      transition: 0.5s;
      right: -410px; }
      #headers .container .view-panier .block-myforfait {
        margin-top: 40px;
        text-align: center; }
        #headers .container .view-panier .block-myforfait .myforfait {
          width: 360px;
          display: inline-block;
          vertical-align: top; }
          #headers .container .view-panier .block-myforfait .myforfait .vignette {
            transition: 0.5s;
            border: 2px solid #ff5e5e;
            border-radius: 150px;
            width: 100px;
            height: 100px;
            margin: auto;
            cursor: pointer; }
            #headers .container .view-panier .block-myforfait .myforfait .vignette .picto-vign {
              width: 40px;
              height: 40px;
              background-repeat: no-repeat;
              background-size: contain;
              margin: auto;
              position: relative;
              top: 50%;
              transform: translateY(-50%); }
              #headers .container .view-panier .block-myforfait .myforfait .vignette .picto-vign.free {
                background-image: url("images/commun/feuille-noire.png");
                width: 40px;
                height: 40px; }
              #headers .container .view-panier .block-myforfait .myforfait .vignette .picto-vign.premium {
                background-image: url("images/commun/diamant-noir.jpg"); }
          #headers .container .view-panier .block-myforfait .myforfait .title {
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: 15px; }
          #headers .container .view-panier .block-myforfait .myforfait.active .vignette {
            transition: 0.5s;
            background-color: #ff5e5e; }
        #headers .container .view-panier .block-myforfait .separator {
          background-color: #ff5e5e;
          width: 50%;
          height: 2px;
          margin: auto;
          margin-bottom: 25px;
          margin-top: 15px; }
      #headers .container .view-panier .block-modules .modules {
        width: 90%;
        height: 50px;
        padding-top: 10px;
        margin: auto;
        margin-bottom: 15px;
        border: 2px solid #ff5e5e;
        border-radius: 12px;
        position: relative; }
        #headers .container .view-panier .block-modules .modules .picto-mod {
          display: inline-block;
          vertical-align: middle;
          background-image: url("images/commun/panier.png");
          width: 30px;
          height: 30px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: 10px; }
        #headers .container .view-panier .block-modules .modules .libele {
          margin-left: 20px;
          font-size: 20px;
          display: inline-block;
          vertical-align: middle; }
        #headers .container .view-panier .block-modules .modules .bt-ajoutmod {
          width: 110px;
          height: 30px;
          line-height: 28px;
          position: absolute;
          right: 10px;
          top: 8px;
          display: inline-block;
          vertical-align: middle; }
      #headers .container .view-panier .bt-viewcompte {
        margin-top: 40px;
        margin-bottom: 90px;
        width: 150px; }
      #headers .container .view-panier.active {
        right: 0; }

@media screen and (max-width: 790px) {
  #headers .container {
    height: 90px; }
    #headers .container .logo-main {
      width: 70px;
      height: 70px; }
    #headers .container .menu-main {
      height: 0px;
      overflow: hidden;
      background-color: white;
      z-index: 50;
      width: 100%;
      top: 90px;
      transition: 0.5s;
      right: 0; }
      #headers .container .menu-main ul {
        width: 60%; }
        #headers .container .menu-main ul li {
          display: block;
          margin-bottom: 30px;
          font-size: 30px; }
          #headers .container .menu-main ul li:after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #ff5e5e;
            display: block;
            margin-top: 5px; }
      #headers .container .menu-main .panier {
        display: none; }
      #headers .container .menu-main.active {
        transition: 0.5s;
        height: 420px;
        padding-top: 60px; }
    #headers .container .menu-mobile {
      display: block; } }

