﻿#headers {
    box-shadow: 5px -27px 73px black;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;

    .container {
        height: 110px;

        .logo-main {
            background-image: url("images/commun/logo.png");
            width: 90px;
            height: 90px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 10px;
            left: 10px;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .menu-main {
            position: absolute;
            right: 40px;
            top: 30px;

            ul {
                display: inline-block;
                vertical-align: middle;

                li {
                    display: inline-block;
                    margin-left: 40px;
                    font-size: 20px;
                    cursor: pointer;

                    .li-seco {
                        border-bottom: 2px solid $pink;
                    }
                }

                #name-user-co {
                    position: relative;
                    border-bottom: 2px solid $pink;
                    padding-left: 10px;
                    padding-right: 10px;
                    transition: 0.1s;

                    &.active {
                        border-bottom: 0px solid $pink;
                    }

                    .down-menu {
                        position: absolute;
                        height: 0;
                        left: 0;
                        top: 32px;
                        padding-left: 0;
                        background-color: $white;
                        border-left: 2px solid $pink;
                        border-right: 2px solid $pink;
                        transition: 0.5s;
                        overflow: hidden;

                        &.active {
                            height: 110px;
                            border-bottom: 2px solid $pink;
                        }

                        li {
                            text-align: center;
                            margin-left: 0;
                            width: 100%;
                            margin-bottom: 10px;
                            margin-top: 10px;

                            a {
                                display: block;
                            }
                        }
                    }
                }
            }

            .panier {
                cursor: pointer;
                display: inline-block;
                margin-left: 30px;
                vertical-align: middle;
                background-image: url("images/commun/panier.png");
                width: 60px;
                height: 60px;
                background-size: contain;
                background-repeat: no-repeat;

                .compteur {
                    width: 22px;
                    border: 2px solid #ff5e5e;
                    border-radius: 90px;
                    height: 22px;
                    line-height: 23px;
                    font-size: 14px;
                    text-align: center;
                    position: absolute;
                    top: -12px;
                    right: -20px;

                    .number {
                    }
                }
            }
        }

        .menu-mobile {
            display: none;
            position: absolute;
            right: 40px;
            top: 35px;
            height: 40px;
            width: 50px;
            cursor: pointer;

            .hamburger {
                background-color: #ff5e5e;
                height: 3px;
                margin-bottom: 10px;
                position: absolute;
                right: 0;
                transition: 0.5s;

                &.one {
                    width: 50px;
                }

                &.two {
                    width: 35px;
                    bottom: 17px;
                }

                &.three {
                    width: 20px;
                    bottom: 6px;
                }
            }

            &.active {
                .hamburger {
                    &.one {
                        width: 20px;
                    }

                    &.two {
                        width: 35px;
                    }

                    &.three {
                        width: 50px;
                    }
                }
            }
        }

        .view-panier {
            width: 360px;
            background-color: white;
            position: absolute;
            top: 109px;
            transition: 0.5s;
            right: -410px;
            max-height: 100vh;
            padding-bottom: 50px;

            .title {
                text-align: center;
                width: 90%;
                line-height: 24px;
                margin: auto;
                font-size: 22px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .block-myforfait {
                margin-top: 40px;
                text-align: center;

                .myforfait {
                    width: 360px;
                    display: inline-block;
                    vertical-align: top;

                    .vignette {
                        transition: 0.5s;
                        border: 2px solid #ff5e5e;
                        border-radius: 150px;
                        width: 100px;
                        height: 100px;
                        margin: auto;
                        cursor: pointer;

                        .picto-vign {
                            width: 40px;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            margin: auto;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);

                            &.free {
                                background-image: url("images/commun/feuille-noire.png");
                                width: 40px;
                                height: 40px;
                            }

                            &.premium {
                                background-image: url("images/commun/diamant-noir.jpg");
                            }
                        }
                    }

                    .title {
                        font-size: 22px;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }

                    &.active {
                        .vignette {
                            transition: 0.5s;
                            background-color: #ff5e5e;
                        }
                    }
                }

                .separator {
                    background-color: #ff5e5e;
                    width: 50%;
                    height: 2px;
                    margin: auto;
                    margin-bottom: 25px;
                    margin-top: 15px;
                }
            }

            .block-modules {
                .modules {
                    width: 90%;
                    height: 40px;
                    padding-top: 10px;
                    margin: auto;
                    margin-bottom: 15px;
                    border: 2px solid #ff5e5e;
                    border-radius: 12px;
                    position: relative;

                    .picto-mod {
                        display: inline-block;
                        vertical-align: middle;
                        background-image: url("images/commun/panier.png");
                        width: 30px;
                        height: 30px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-left: 10px;
                    }

                    .libele {
                        margin-left: 20px;
                        font-size: 20px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .bt-ajoutmod {
                        width: 110px;
                        height: 30px;
                        line-height: 28px;
                        position: absolute;
                        right: 10px;
                        top: 8px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            .bt-viewcompte {
                margin-top: 40px;
                margin-bottom: 140px;
                width: 150px;
            }

            &.active {
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    #headers {
        .container {
            height: 90px;

            .logo-main {
                width: 70px;
                height: 70px;
            }

            .menu-main {
                height: 0px;
                overflow: hidden;
                background-color: white;
                z-index: 50;
                width: 100%;
                top: 90px;
                transition: 0.5s;
                right: 0;

                ul {
                    width: 60%;

                    li {
                        display: block;
                        margin-bottom: 30px;
                        font-size: 30px;

                        &:after {
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: #ff5e5e;
                            display: block;
                            margin-top: 5px;
                        }
                    }
                }

                .panier {
                    display: none;
                }

                &.active {
                    transition: 0.5s;
                    height: 420px;
                    padding-top: 60px;
                }
            }

            .menu-mobile {
                display: block;

                .hamburger {
                    &.one {
                    }

                    &.two {
                    }

                    &.three {
                    }
                }
            }
        }
    }
}
