﻿@using Nobble.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}

<div id="scene-login">
    <div class="container">
        <div class="block-text">
            <div class="title">C'est un plaisir</div>
            <div class="subtitle">de vous revoir parmis nous !</div>
        </div>

        <div class="block-form-login">

            <div id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                <div class="separator"></div>
            </div>
            
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="cadre-login">


            <div class="form-group">
                @* @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control button-custom btempty" , placeholder = "Email" })
                    @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control button-custom btempty" , placeholder="Mot de passe"})
                    @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Connexion" class="button-custom pink bt-connexion" />
                </div>
            </div>
            
        </div>
    <div class="block-login-inscription">
        <div class="separator"></div>
        <div class="title">Pas encore inscrit ?</div>
        <div class="button-custom btempty no-compte">@Html.ActionLink("S'inscrire", "Register")</div>
    </div>
    @* Activer ceci une fois que la confirmation de votre compte est activée pour la fonctionnalité de réinitialisation du mot de passe
        <p>
            @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword")
        </p>*@
            }
       
        </div>
    </div>
</div> 


        

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
