﻿@model Nobble.Models.RegisterViewModel
@{
    ViewBag.Title = "S’inscrire";
}

<div id="scene-register">
    <div class="container">
        <div class="block-text">
            <div class="title">Rejoignez-nous</div>
            <div class="subtitle">au sein de notre communauté</div>
        </div>

        <div class="block-form-register">

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="cadre-login">
                <div class="form-group">
                   
                    
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control button-custom btempty" , placeholder = "Email" })
                    
                </div>
                <div class="form-group">
                    
                    
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control button-custom btempty" , placeholder = "Mot de passe" })
                   
                </div>
                <div class="form-group">
                   
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control button-custom btempty" , placeholder = "Confirmer mot de passe" })
                    
                </div>
                <div class="form-group">
                    
                        <input type="submit" class="button-custom btempty bt-inscription" value="S’inscrire" />
                    
                </div>
            </div>
            <div class="block-login-inscription">
                <div class="separator"></div>
                <div class="title">Vous êtes deja parmis nous ?</div>
                <div class="button-custom btempty no-compte">@Html.ActionLink("Se Connecter", "Login")</div>
            </div>
}

            </div>
    </div>
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}