﻿@model Nobble.Models.Abonnement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Abonnement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.produit_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produit_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_achat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_achat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_actif)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
