﻿@model IEnumerable<Nobble.Models.Abonnement>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produit_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_achat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_actif)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produit_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_achat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_actif)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

