﻿@model IEnumerable<Nobble.Models.Facture>

<div class="admin-panel">
    <div class="container">

        @Html.Partial("_Admin-panel")

        <div class="content all-fact">
            <table class="table">
                <tr>
                    <th>
                        N° Client
                    </th>
                    <th>
                        Date Facture
                    </th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date_facture)
                        </td>
                        <td>
                           
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


