﻿@model IEnumerable<Nobble.Models.Facture>

<div class="admin-panel">
    <div class="container">

        @Html.Partial("_Admin-panel")

        <div class="content mes-factures">
            <table class="table">
                <tr>
                    <th>Référence</th>
                    <th>Date</th>
                    <th>Prix total</th>
                    <th>PDF</th>
                </tr>
                @foreach (var uneFacture in Model)
                {
                    <tr>
                        <td>
                            ID-@uneFacture.id.ToString()
                        </td>
                        <td>
                            @uneFacture.date_facture.ToString()
                        </td>
                        <td>
                            @uneFacture.prixTotal.ToString() €
                        </td>
                        <td>
                            <a href="/Factures/Pdf/@uneFacture.id" class="button-custom pink bt-pdf" target="_blank">PDF</a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>


